/*
* I add this to html files generated with pandoc.
*/


html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #444;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 12px;
  line-height: 1.7;
  width: 100%;
  background: #fefefe;
  counter-reset: sidenote-counter;
}

div.header {
  border-bottom: 2px solid #eee;
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  height: 50px;
  align-items: center;
}


div.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.side {
  border-right: 2px solid #eee;
  flex:100px;
  padding-left: 1em;
  /*! position: -webkit-sticky; */
  /*! position: sticky; */
  /*! top: 0; */
  /*! overscroll-behavior-y: initial; */
  /*! overflow: scroll; */
}

div.side h1.title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 1em 0 ;
  color: DeepPink;
}

div.side p.date,.version {
  font-size: smaller;
}

a {
  color: #0645ad;
  text-decoration: none;
}

a:visited {
  color: #0b0080;
}

a:hover {
  color: #06e;
}

a:active {
  color: #faa700;
}

a:focus {
  outline: thin dotted;
}

*::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

*::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

p {
  margin: 1em 0;
  /*! padding: 0 0 0.5em 0; */
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: DeepPink;
  line-height: 1.1em;
  margin-top: 0em;
  font-weight: 200;
  font-family: 'Open Sans', serif;
  letter-spacing: -1px;
}

h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
  margin-left:1em;
}

h5 {
  font-size: 0.9em;
  margin-left:3em;
}

h6 {
  font-size: 0.7em;
}

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 2em;
  border-left: 0.5em #EEE solid;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  /*! border-top: 1px solid #aaa; */
  border-bottom: 1px solid #eee;
  margin: 1em 1em;
  padding: 0;
}

pre, code, kbd, samp {
  color: #000;
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 0.98em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul, ol ol {
  margin: .3em 0;
}

dl {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
  margin-bottom: .8em;
}

dd {
  margin: 0 0 .8em 2em;
}

dd:last-child {
  margin-bottom: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure {
  display: block;
  text-align: center;
  margin: 1em 0;
}

figure img {
  border: 1px solid lightgrey;
  margin: 0 auto;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 .8em;
  text-decoration: underline
}

div.fullwidth {
  display: flex;
  justify-content:center;
  width: 150mm;
}

div.bodywidth {
  display: flex;
  justify-content:space-around;
  width: 100%;
}

div.fullwidth figure {
  margin: 1em 0.3em 0 0;

}

div.bodywidth figure {
  margin: 0em 0.3em 0 0;

}

.fullwidth,.bodywidth figure img {

}

.fullwidth,.bodywidth figure figcaption {
 margin-top: 1em;
}

#couv0 img {
  max-height: 20em;
  margin-right: 1em;
}

#booksprint figure {
  flex: 1;
}

#booksprint img {
  max-height: 13.5em;
}

table {
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.9em;
}

table th {
  padding: .2em 1em;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table td {
  padding: .2em 1em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
}

.author {
  font-size: 1.2em;
  text-align: center;
}

/* @media only screen and (min-width: 480px) {
  body {
    font-size: 19px;
    margin: 0 0;
  }
  article {
    margin-right:0%;
  }
} */

@media only screen and (max-width: 800px) {
  body {
    font-size: 20px;
    margin: 0 0;
  }
  div.side {
    display: none;
  }
    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }
}


@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  body {
    font-size: 11pt;
    line-height: 17pt;
    max-width: 100%;
    text-align: start;
  }

  a, a:visited {
    text-decoration: underline;
  }

  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }

  /* a[href]:after {
    content: " (" attr(href) ")";
  } */

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  /* @page :left {
    margin: 15mm 20mm 15mm 10mm;
}

  @page :right {
    margin: 15mm 10mm 15mm 20mm;
} */

  p, h2, h3 {
    orphans: 3;
    widows:  3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

div.focus {
    border: 1px solid grey;
    padding: 0 1em;
    font-family: 'Open sans';
    font-size: smaller;
    letter-spacing: -0.4px;
    background-color: whitesmoke;
    font-style: italic;
  }

p:has(span.legendeFocus){
  text-align: center;
}

span.legendeFocus {
  text-decoration: underline;
  font-size: 0.8em;
  font-style: italic;
  padding: auto;
  margin:0 50px;
}

span.legendeTableau {
  text-decoration: underline;
  font-size: 0.8em;
  font-style: italic;
  padding: auto;
  margin:0 50px;
}

.lettrine {
  float: left;
  font-size: 4em;
  text-shadow:3px 3px 3px silver;
  line-height: 80%;
  margin: -.1em 0px;
  padding-right: .1em;
}


input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}


.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -0mm;
    width: 42mm;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;

.sidenote img {
  border: 1px solid lightgrey;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 0.8rem;
    top: -0.5rem;
    left: 0.1rem;
    color: deeppink;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 0.8rem;
    top: -0.5rem;
    color: deeppink;
}

.sidenote span.cite {
  color: #666666;
  margin: 0;
  padding-left: 1em;
  border-left: 0.5em #EEE solid;
  font-style: italic;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -50mm;
    min-width: 45mm;
    text-align: right;
}

div.note {
  display: none;
}

}
/* END @print */


nav#TOC {

}

nav#TOC ul {
  padding-left: 0;
  margin-top: 1em;
}

nav#TOC ul li {
  list-style-type: decimal;
  padding-top: 7px;
  margin-left: 15px;
  line-height: 1.2em;
  font-weight: 600;
}

nav#TOC ul li a::after{
	content: target-counter(attr(href), page);
  float: right;
}

nav#TOC ul ul {
  padding-left: 1em;
  margin-top: 0;
}

nav#TOC ul ul li {
  list-style-type: none;
  margin-left: 0px;
  padding-top: 7px;
  line-height: 1.2em;
  font-weight: 500;
}

nav#TOC .note {
  display: none;
}

div#motcles ul {
  display: inline;
  float:left;
}

div#motcles li span {
  display: inline-block;
  float:left;
  margin: 0.2em 0;
}

div#motcles li span a {
  padding:0.1em 0.3em;
  background-color: #eee;
}

div#motcles li span[class^="author-"] a {
  background-color: bisque;
}


div#motcles li h3 {
  display: inline-block;
  float:left;
  margin: 10px 0 ;
}


header {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  color: #444;
}

header h1, header h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 1em;
  color: DeepPink;
}

header p {
  margin: 0 0 ;
  font-size: smaller;
}

#schema-scholarly-article > span[property=name]:nth-child(1){
  font-size: xx-large;
  line-height: 2em;
  text-align: center;
}

#schema-scholarly-article > span[property=name]:nth-child(3){
  font-size: larger;
  line-height: 2em;
  text-align: center;
}


#schema-scholarly-article > span[property=author]{
  font-size: large;
  padding-top: 20px;
  line-height: 2em;
}

div.resume {
  margin-top: 10px;
}

div.resume[lang=en]::before {
          content:"Abstract: ";
          font-weight: bold;
      }

div.resume[lang=fr]::before {
          content:"Résumé : ";
          font-weight: bold;
      }

div.resume[lang=es]::before {
          content:"Resumen: ";
          font-weight: bold;
      }

div.resume[lang=pt]::before {
          content:"Abstrato: ";
          font-weight: bold;
      }

div.resume[lang=uk]::before {
          content:"Pеферат: ";
          font-weight: bold;
      }

div.resume[lang=de]::before {
          content:"Abstrakt: ";
          font-weight: bold;
      }

div.resume[lang=it]::before {
          content:"Astratto: ";
          font-weight: bold;
      }

.keywords::before {
          content:"Catégories :";
          font-weight: bold;
      }

div.keywords {
  margin-top: 10px;
}

.keywords > div {
  display: inline-block;
}

.keywords > div::after {
  content: " / ";
}

.keywords > div:last-child::after {
  content: ".";
}

div.authorKeywords_fr {
  margin-top: 10px;
}

div.authorKeywords_fr span::before {
  content: 'Mots-clés auteur : ';
  font-weight: bold;
}

div.authorKeywords_fr span::after {
  content: '.';
}

div.authorKeywords_en span::before {
  content: 'Keywords: ';
  font-weight: bold;
}

div.authorKeywords_en span::after {
  content: '.';
}

hr#startArticle {
  margin-top: 4em;
  height: 1px;
  border-top : 1px solid rgb(200,200,200)
}

p span.epigraphe {
  margin-left: 10%;
  margin-right: 20%;
  text-align: left;
  margin-bottom: 2em;
  float: right;
  font-style: italic;
}

p span.epigraphe span.source {
  content: '— ';
}

p span.dedicace {
  margin-left: 10%;
  text-align: left;
  margin-bottom: 2em;
  float: right;
  font-style: italic;
}

.chapeau {
  margin-left: 1em;
  text-align: left;
  margin-bottom: 2em;
  float: left;
  font-style: italic;
  color: gray;
}

 div.note {
  /*! margin-left: 2em; */
  text-align: left;
  /*! line-height: 1em; */
  /*! float: left; */
  font-style: italic;
  color: gray;
  padding: 1em 1em 1em 1em;
  background-color: rgb(240,240,240);
  font-size: 1rem;
  display: none;
}

span.note {
  /*! margin-left: 2em; */
  text-align: left;
  /*! line-height: 1em; */
  /*! float: left; */
  font-style: italic;
  color: gray;
  padding: 0.3em 0em;
  background-color: rgb(240,240,240);
  font-size: 1rem;
}

span.note::before {
  content: "[Note: ";
}

span.note::after {
  content: "]";
}


div.note::before {
  content: "Note:";
} */


.ref {
  background-color: yellow;
}

span.these {
  text-decoration: underline double #a91e58;
}

span.these:hover::before {
  content: "[These: ";
  position:relative;
  color: #a91e58;
  font-size: 1em;
  padding-left:5px;
  padding-right:5px;
}

span.these:hover::after {
  content: "]";
  position:relative;
  color: #a91e58;
  font-size: 1em;
  padding-left:5px;
  padding-right:5px;
}

span.exemple {
  text-decoration: underline double  #b37114;
}

span.exemple:hover::before {
  content: "[Exemple: ";
  position:relative;
  color: #b37114;
  font-size: 1em;
  padding-left:5px;
  padding-right:5px;
}

span.exemple:hover::after {
  content: "]";
  position:relative;
  color: #b37114;
  font-size: 1em;
  padding-left:5px;
  padding-right:5px;
}

span.concept {
  text-decoration: underline double #14b371;
}

span.concept:hover::before {
  content: "[Concept: ";
  position:relative;
  color: #14b371;
  font-size: 1em;
  padding-left:5px;
  padding-right:5px;
}

span.concept:hover::after {
  content: "]";
  position:relative;
  color: #14b371;
  font-size: 1em;
  padding-left:5px;
  padding-right:5px;
}

span.definition {
  text-decoration: underline double #1456b3;
}

span.definition:hover::before {
  content: "[Definition: ";
  position:relative;
  color: #1456b3;
  font-size: 1em;
  padding-left:5px;
  padding-right:5px;
}

span.definition:hover::after {
  content: "]";
  position:relative;
  color: #1456b3;
  font-size: 1em;
  padding-left:5px;
  padding-right:5px;
}

span.question {
  text-decoration: underline double #ff7214 ;
}

span.question:hover::before {
  content: "[Question: ";
  position:relative;
  color: #ff7214;
  font-size: 1em;
  padding-left:5px;
  padding-right:5px;
}

span.question:hover::after {
  content: "]";
  position:relative;
  color: #ff7214;
  font-size: 1em;
  padding-left:5px;
  padding-right:5px;
}

#history {
  position: absolute;
  margin-top: 350px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  width: 200px;
  margin-left: 200px;
  min-height: 300px;
}
#story {
  position: absolute;
  margin-top: 350px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  width: 200px;
  margin-left: 965px;
  min-height: 300px;
}
