/*
* I add this to html files generated with pandoc.
*/


html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #444;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 12px;
  line-height: 1.7;
  width: 100%;
  background: #fefefe;
  counter-reset: sidenote-counter;
}

div.header {
  border-bottom: 2px solid #eee;
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  height: 50px;
  align-items: center;
}


div.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.side {
  border-right: 2px solid #eee;
  flex:100px;
  padding-left: 1em;
  /*! position: -webkit-sticky; */
  /*! position: sticky; */
  /*! top: 0; */
  /*! overscroll-behavior-y: initial; */
  /*! overflow: scroll; */
}

div.side h1.title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 1em 0 ;
  color: DeepPink;
}

div.side p.date,.version {
  font-size: smaller;
}

a {
  color: black;
  text-decoration: underline #0645ad;
}

a:visited {
  color: #0b0080;
}

a:hover {
  color: #06e;
}

a:active {
  color: #faa700;
}

a:focus {
  outline: thin dotted;
}

*::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

*::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

p {
  margin: 1em 0;
  /*! padding: 0 0 0.5em 0; */
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  /* color: DeepPink; */
  line-height: 1.1em;
  margin-top: 0em;
  font-weight: 200;
  font-family: 'Open Sans', serif;
  letter-spacing: -1px;
}

h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

p.title-1 {
  line-height: 1.1em;
  margin-top: 0em;
  font-weight: 200;
  font-family: 'Open Sans', serif;
  letter-spacing: -1px;
  font-size: 2.6em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
  margin-left:1em;
}

h5 {
  font-size: 0.9em;
  margin-left:3em;
}

h6 {
  font-size: 0.7em;
}

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 2em;
  border-left: 0.5em #EEE solid;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  margin: 2em 1em;
  padding: 0;
}



pre, code, kbd, samp {
  color: #000;
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 0.98em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul, ol ol {
  margin: .3em 0;
}

dl {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
  margin-bottom: .8em;
}

dd {
  margin: 0 0 .8em 2em;
}

dd:last-child {
  margin-bottom: 0;
}

img {

  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure {
  display: block;
  text-align: center;
  margin: 1em 0;
}

figure img {
  border: 1px solid lightgrey;
  margin: 0 auto;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 .8em;
  text-decoration: underline
}

div.fullwidth {
  display: flex;
  justify-content:center;
  width: 180mm;
}

div.bodywidth {
  display: flex;
  justify-content:space-around;
  width: 100%;
}

div.fulltable {
  width: 180mm;
  margin-top: 1em;
}

div.fulltable table {
  width: 100%;
}

/* section#tableaurecolte {
  break-before: page;
} */

section#tableaurecolte table,span.legendeTableau {
  display: none;
}

table caption::before {
  content: 'Tableau : ';
}

table caption {
  text-decoration: underline;
  font-size: 0.9em;
  font-style: italic;
  padding: auto;
  margin: 1em 0 ;
  text-align: left;
}

.utain {
  display: none;
}

.caviard::after {
  content: '\263B\263B\263B\263B\263B';
  letter-spacing: -0.4em;
  padding-right: 0.4em;
  margin-left: -0.1em;
}



div.fullwidth figure {
  margin: 1em 0.3em 0 0;

}

div.bodywidth figure {
  margin: 0em 0.3em 0 0;

}

.fullwidth,.bodywidth figure img {

}

.fullwidth,.bodywidth figure figcaption {
 margin-top: 1em;
}

.fulltable .col1 {
  width: 33%;
  float:left;
}

.fulltable .col2 {
  width: 66%;
  float:left;
}

div#couv0 {
  width:150mm;
}

div#couv0 figure {
  flex:wrap;
  justify-content: space-between;
}

#couv0 img {
  max-height: 14em;
  margin-right: 1em;
}

#booksprint figure {
  flex: 1;
}

#booksprint img {
  max-height: 13.5em;
}

table {
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.9em;
}

table th {
  padding: .2em 1em;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table td {
  padding: .2em 1em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
}

.author {
  font-size: 1.2em;
  text-align: center;
}

/* @media only screen and (min-width: 480px) {
  body {
    font-size: 19px;
    margin: 0 0;
  }
  article {
    margin-right:0%;
  }
} */

@media only screen and (max-width: 800px) {
  body {
    font-size: 20px;
    margin: 0 0;
  }
  div.side {
    display: none;
  }
    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }
}


@media print {
  * {
    background: transparent !important ;
    color: black ;
    filter: none !important;
    -ms-filter: none !important;
  }

  body {
    font-size: 11pt;
    line-height: 17pt;
    max-width: 100%;
    text-align: start;
  }

  a, a:visited {
    color: black;
    text-decoration: underline #0645ad;

  }


  /* a[href]:after {
    content: " (" attr(href) ")";
  } */

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre {
    border: 1px solid #999;
    padding: 0.3em;
    page-break-inside: avoid;
    font-size: 0.8em;
    line-height: 1.3em;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  /* @page :left {
    margin: 15mm 20mm 15mm 10mm;
}

  @page :right {
    margin: 15mm 10mm 15mm 20mm;
} */

  p, h2, h3 {
    orphans: 3;
    widows:  3;
  }

  h2, h3, h4 {
    break-after: avoid;
    page-break-after: avoid;
  }

div.focus {
    border: 1px solid grey;
    padding: 0 1em 1em 1em;
    font-family: 'Open sans';
    font-size: smaller;
    letter-spacing: -0.4px;
    background-color: whitesmoke;
    font-style: italic;
  }

p:has(span.legendeFocus){
  text-align: center;
}

span.legendeFocus {
  text-decoration: underline;
  font-size: 0.8em;
  font-style: italic;
  padding: auto;
  margin:0 50px;
}

span.legendeTableau {
  text-decoration: underline;
  font-size: 0.8em;
  font-style: italic;
  padding: auto;
  margin:0 50px;
}

span.legendeImage {
    text-decoration: underline;
    font-size: 0.8em;
    font-style: italic;
    padding: auto;
}

.lettrine {
  float: left;
  font-size: 4em;
  text-shadow:3px 3px 3px silver;
  line-height: 80%;
  margin: -.1em 0px;
  padding-right: .1em;
}


input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}


.sidenote,
.marginnote {
    font-size: 9pt;
    line-height: 13pt;
    text-align: end;
    /* color: red; */
    margin-right: -56mm;
    width: 50mm;

    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

span.sidenote img {
  border: 0.5px solid lightgrey;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
}

/* Pour le moment les styles de l'appel de note sont gérés par marginnote.js */
/* .note-call.note-call_sidenote{
    color: blue;
    position: relative;
    vertical-align: baseline;
    font-size: 0.8rem;
    top: -0.5rem;
    left: 0.1rem;
} */


/* .sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 0.8rem;
    top: -0.5rem;
    left: 0.1rem; */
    /* color: deeppink !important; */
/* } */


/* .sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 0.8rem;
    top: -0.5rem;
    color: deeppink;
} */

span.cite {
  color: #333;
  margin: 0;
  padding-left: 1em;
  border-left: 0.3em #EEE solid;
  font-style: italic;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -50mm;
    min-width: 45mm;
    text-align: right;
}

div.note {
  display: none;
}


}
/* END @print */

header {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  color: #444;
}

header h1, header h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 1em;
  color: DeepPink;
}

header p {
  margin: 0 0 ;
  font-size: smaller;
}


p span.epigraphe {
  margin-left: 10%;
  margin-right: 20%;
  text-align: left;
  margin-bottom: 2em;
  float: right;
  font-style: italic;
}

p span.epigraphe span.source {
  content: '— ';
}

p span.dedicace {
  margin-left: 10%;
  text-align: left;
  margin-bottom: 2em;
  float: right;
  font-style: italic;
}

.chapeau {
  margin-left: 1em;
  text-align: left;
  margin-bottom: 2em;
  float: left;
  font-style: italic;
  color: gray;
}

 div.note {
  /*! margin-left: 2em; */
  text-align: left;
  /*! line-height: 1em; */
  /*! float: left; */
  font-style: italic;
  color: gray;
  padding: 1em 1em 1em 1em;
  background-color: rgb(240,240,240);
  font-size: 1rem;
  display: none;
}

span.note {
  display: none;
}

/* span.note {
  text-align: left;
  font-style: italic;
  color: gray;
  padding: 0.3em 0em;
  background-color: rgb(240,240,240);
  font-size: 1rem;
}

span.note::before {
  content: "[Note: ";
}

span.note::after {
  content: "]";
} */


.ref {
  background-color: yellow;
}


#history {
  position: absolute;
  margin-top: 350px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  width: 200px;
  margin-left: 200px;
  min-height: 300px;
}
#story {
  position: absolute;
  margin-top: 350px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  width: 200px;
  margin-left: 965px;
  min-height: 300px;
}

div#commentjdm {
  margin-bottom: 1em;
}

div#last5etapes {
  margin-bottom: 1em;
}

div#sousetapes {
  line-height: 1.4em;
}

div#listedocuments {
  line-height: 1.4em;
}


div#deroule {
  break-before: page;
}

div#deroule table {
  line-height: 1.4em;
}

div#tableobs table {
  line-height: 1.4em;
  width: 120mm;
}

img#artefactimg {
  transform: rotate(180deg);
}

pre.yaml {
  border: 0;
}

div#intentionbooksprint {
  font-size: 0.8em;
  line-height: 1.5;
}

div#colophon {
  position: absolute;
  bottom: 10px;
}
