div#pageGarde {
  text-align: left;
  font-family: 'Open Sans',serif;
  letter-spacing: -1px;
}

div#pageGarde div.title {
  font-family: 'Open Sans',serif;
  font-size: 27px;
  font-weight: 200;
  line-height: 1.6em;
  letter-spacing: -1px;
  margin-top: 0em;
}


div#pageGarde div.subtitle {
  font-family: 'Open Sans',serif;
  font-size: 2em;
  font-weight: 200;
  line-height: 1.8em;
  letter-spacing: -1px;
  margin: 0 0 1em 0;
  display:none;
}

div#pageGarde div.author {
  font-family: 'Open Sans',serif;
  font-size: 24px;
  line-height: 1.6em;
  text-align: left;
  letter-spacing: 0px;
  margin: 0.5em 0 0.5em 0;
}

div#pageGarde div.link a {
  text-decoration: none;
  margin: 0.5em 0 0.5em 0;
}

div#pageGarde div.date {
  margin: 1em 0 1em 0;
  display: none;
}

div#pageGarde div.link {
  font-size: 18px;
}

div#pageGarde div.subsubtitle {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  margin: 3em 0 1em 0;
  bottom: 200px;
  position: absolute;
}

div#pageGarde div.subsubtitle table {
  width: 155mm;
  border: 0px;
  font-size: 14px;
  letter-spacing: -0.5px;
  text-align: left;
  line-height:1.3em
}


div#pageGarde div.subsubtitle table col {
  width: 76mm;
}

div#pageGarde div.subsubtitle table td {
  padding: 0.2em 0.5em 0.1em 0;
  border: 0px;
  width:76mm;
  margin-bottom: 0em;
}

div#pageJury {
  position: absolute;
  bottom: 0;
}

div#pageJury > table > tbody > tr > td:nth-child(2) {
  font-weight: 600;
}

div.license {
  font-size: 10px;
  position:absolute;
  bottom: 0;
}

div.license a {
  text-decoration: none;
}

div#avert hr, div#pageGarde hr {
  border-top: 1px solid #444;
  text-align: left;
  max-width: 76mm;
  margin:20mm 0 1em 0;
}

div#pageJury {
  font-size: 16px;
  letter-spacing: -0.5px;
}

div#pageJury table {
  width: 150mm;
  border: 0px;
  font-size: 14px;
  letter-spacing: -0.5px;
  margin:0;
}

div#pageJury table td {
  padding: 0;
  border: 0px;17th
}

div#dedicace {
  margin: 14em 0 0 0;
  font-size: 1.2em;
}

div#resume, div#avert {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  letter-spacing: -0.5px;
}
