body {
  counter-reset: countChapter;
}


div.numbered section.level1::before {
  content: "Chapitre " counter(countChapter, upper-roman);
}

/* div.chapitre.unnumbered section.level1::before {
  display: none;
} */

section.level1 {
  string-set: titleBefore content(before), title content(text);
}

div.chapitre.numbered, div.chapitre.unnumbered {
  page: contentLayout;
}

.frontchapter, #tableofcontent, #avert, #resume, #colophon {
  page: frontmatterLayout;
}

#remerciement, section#bibliographie {
  page: contentcenteredLayout;
}


@page frontmatterLayout {
  size: letter;
  margin-top: 25mm;
  margin-right: 25mm;
  margin-bottom: 25mm;
  margin-left: 25mm;

  @bottom-left {
    content: none;
  }

}

@page contentcenteredLayout {
  size: letter;
  margin-top: 25mm;
  margin-right: 25mm;
  margin-bottom: 25mm;
  margin-left: 25mm;

  @bottom-center {
    content: counter(page);
  }

}

@page contentLayout {
  size: letter;
  margin-top: 30mm;
  /* intègre une large marge à droite pour placer les notes */
  margin-right: 70mm;
  margin-bottom: 30mm;
  margin-left: 15mm;

  @bottom-center {
    content: counter(page);
  }

  /* @bottom-center {
    content: string(titleBefore) ". " string(title, first);
    text-transform: uppercase;
  } */
}

@page {
  size: letter;
  margin-top: 25mm;
  margin-right: 25mm;
  margin-bottom: 25mm;
  margin-left: 25mm;

  @bottom-left {
    content: none;
  }

}



div#dedicace, div#remerciement, div#avert, section.level1, div#resume {
  break-before: page;
}

#tableofcontent, div.chapitre {
  break-before: right;
}

#colophon {
  break-before: left;
}

div.chapitre.numbered {
  counter-increment: countChapter;
}

div.chapitre.numbered p.chapitre-prefix::before {
  content: "Chapitre " counter(countChapter, upper-roman);
}

div.chapitre.numbered p.chapitre-prefix {
  font-size: 2.6em;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  letter-spacing: -1px;
}

div.chapitre.unnumbered p.chapitre-prefix {
  display: none;
}

div.chapitre > h1 {
  font-size: 2.6em;
}

/* .sidenote {
  font-size: 9pt;
  line-height: 13pt;
  text-align: end;
  color: red;
  margin-right: -56mm;
  width: 50mm;
} */

span.note {
  font-size: 10pt;
  background-color: grey;
  font-family: Tahoma, Geneva, sans-serif;
  /* display: none; */
}

div.note {
  font-size: 10pt;
  background-color: grey;
  font-family: Tahoma, Geneva, sans-serif;
  border: 1px grey dashed;
}

blockquote {
  border: 0px;
  border-left: 2px lightgrey solid;
}

blockquote p {
  margin: 0.5em 0;
}

/* Si on souhaite afficher l'url systématiquement.. */
/* a::after {
  content: " (" attr(href) ")";
} */

table {
  width: 130mm;
}


div.references {
  font-size: 0.9em;
}

div.references p {
  margin: 0.5em 0;
  line-height: 1.6em;
}

div.frontchapter {
  margin: 14em 0 0 0;
  font-size: 1.4em;
}

div#dedicace, div#remerciement, div#avert, div#resume {
  width: 150mm;
}



/* div#refs > div {
  width: 130mm;
} */


.pagedjs_page.pagedjs_named_page.pagedjs_contentLayout_page .pagedjs_margin-bottom-center {
    padding-left: 55mm;
}
