@media print{

    #list-toc-generated{ list-style: none;}

    ul#list-toc-generated {
      padding-left: 0;
    }

    #list-toc-generated .toc-element a::after{
        content: " p. " target-counter(attr(href), page);
        float: right;
    }

    #list-toc-generated .toc-element-level-1{
        margin: 25px 0;
        font-weight: 600;
        font-size: larger;
    }

    #list-toc-generated .toc-element-level-2{
        margin: 10px 0 10px 20px;
        font-weight: 600;
    }

    #list-toc-generated .toc-element-level-3{
        margin-left: 40px;
    }


    /* target-text(attr(href), before) doesn't work for now, replace with counters (see below)*/
    /* #list-toc-generated .toc-element a::before{
        content: target-text(attr(href), before);
    } */

    /* counters */

    #list-toc-generated{
        counter-reset: counterTocLevel1;
        counter-reset: counterTocLevel2;
    }

    #list-toc-generated .toc-element-level-1.unnumbered {
      counter-reset: counterTocLever1;
      counter-reset: counterTocLever2;
      counter-increment: none;

    }

    #list-toc-generated .toc-element-level-1.numbered {
        counter-increment: counterTocLevel1;
        counter-reset: counterTocLevel2;
    }

    #list-toc-generated .toc-element-level-1.numbered::before{
        content: counter(counterTocLevel1) ". ";
        padding-right: 5px;
    }

    #list-toc-generated .toc-element-level-1.unnumbered::before{
        content: none;
        padding-right: 5px;
        counter-increment: none;
    }

    #list-toc-generated .toc-element-level-2{
        counter-increment: counterTocLevel2;
        counter-reset: counterTocLevel3;
    }

    /* #list-toc-generated .toc-element-level-1.unnumbered > .toc-element-level-2::before{
        content: counter(counterTocLevel2) ". ";
        padding-right: 5px;
    } */

    #list-toc-generated .toc-element-level-2::before{
      content: counter(counterTocLevel1) ". " counter(counterTocLevel2) ". ";
      padding-right: 5px;
    }

    #list-toc-generated .toc-element-level-3{
        counter-increment: counterTocLevel3;
    }

    #list-toc-generated .toc-element-level-3::before{
        content: counter(counterTocLevel1) ". " counter(counterTocLevel2) ". " counter(counterTocLevel3) ". ";
        padding-right: 5px;
    }


    /*  leader() doesn't work for now, replace with the hack bellow */
    /* #list-toc-generated .toc-element a::after{
        content: leader('.') " p. " target-counter(attr(href), page);
        float: right;
    } */

    /* hack for leaders */

    #list-toc-generated{
      font-family: 'Open Sans', serif;
      font-size: 14px;
      letter-spacing: -0.5px;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    #list-toc-generated .toc-element::after{
        content: ".................................................................................................................................................";
        float: left;
        width: 0;
        padding-left: 5px;
        letter-spacing: 2px;
    }

    #list-toc-generated .toc-element{
        display: flex;
    }

    #list-toc-generated .toc-element a {
      text-decoration: none;
    }

    #list-toc-generated .toc-element a::after{
        position: absolute;
        right: 0;
        background-color: white;
        padding-left: 6px;
    }

    #list-toc-generated .toc-element a{
        right: 0;
    }

    #list-toc-generated .toc-element-level-1::before {
      width: 15px;
    }
    #list-toc-generated .toc-element-level-2::before {
      width: 30px;
    }
    #list-toc-generated .toc-element-level-3::before {
      width: 45px;
    }

}
