
@font-face {
    font-family: 'open_sansitalic';
    src: url('../../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../../fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Open Sans Light';
    src: url('../../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../fonts/Georgia-BoldItalic.woff2') format('woff2'),
        url('../../fonts/Georgia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../fonts/Georgia.woff2') format('woff2'),
         url('../../fonts/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../fonts/Georgia-Bold.woff2') format('woff2'),
        url('../../fonts/Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../fonts/Georgia-Italic.woff2') format('woff2'),
        url('../../fonts/Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
