article {
  margin-right: 10em;
}

div.header {
  display: none;
}

h1.title, a.chap-prec {
  display: none;

}

p.author {
  display: none;
}

section#indexsommaire ul {
  line-height: 1.1em;
  margin-top: 0em;
  font-weight: 200;
  font-family: 'Open Sans', serif;
  letter-spacing: -1px;

}


section#indexsommaire li {
  list-style: none;
  padding: 1em ;
  padding-left: 0;
  margin-left: 0;
}

div.titre {
  line-height: 1.4em;
  margin-top: 1em;
  font-weight: 200;
  font-family: 'Open Sans', serif;
  letter-spacing: -1px;
  font-size: 2em;
}

div.auteur {
  line-height: 1.1em;
  margin-top: 0em;
  font-weight: 400;
  font-family: 'Open Sans', serif;
  letter-spacing: -1px;
  font-size: 1.4em;
}

div.lire {
  line-height: 1.1em;
  margin-top: 0em;
  font-weight: 200;
  font-family: 'Open Sans', serif;
  letter-spacing: -1px;
  font-size: 1.2em;
  margin-bottom: 3em;
}

hr {
  display: :initial;
  border-bottom: 2px solid #eee;
  padding-top: 1em;
  margin: 0;
}

div.licence {
  font-size: smaller;
}

h1, h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

nav#TOC {
  margin-top: 21em;
  font-size: 1em;
  font-weight: 200;
  padding-left: 1em;
}

nav#TOC::before {
  display:none;
}

nav#TOC ul li {
  font-size: 1em;
  font-weight: 200;
  line-height: 1.3em;
  padding: 0.3em 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  article {
    margin: 0px 0px 0px 0px;
    padding: 1rem; 
  }
  div.titre p {
    font-size:2rem;
  }
}