a.home {

}

img.icon {
  width: 35px;
  height: 35px;
  padding: 5px;
}

img.icon-nav {
  width: 0.7em;
  /*! height: 1em; */
  padding: 0 5px 0 7px;
}

a.chap-prec {
  padding: 0 1em;
  border-left: 2px solid #eee;

}

a.chap-next {
  padding: 0 0 0 1em;
}

h1.title {
}

div.navchap {
  font-family: 'Open Sans', serif;
  letter-spacing: -1px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

p.date {
  display: none;
}


@media screen and (max-width: 1025px){
  h1.title, div.navchap {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  article {
    margin: 0px 0px 0px 0px;
    padding: 1rem;
  }
  div.navchap  {
    display: grid;
    font-size: 0.8rem;
    padding-right: 1.3rem;
  }
/*  div.fulltable, div.fullwidth {
    width: 100%;
  }
  */
}

h2#remerciements{
  display:none;
}

div#dedicace {
  float: left;
  width: 100%;
}

div#dedicace span.dedicace {
  margin:0;
  padding:3em;
  float:left;
}


nav#TOC::before {
    content: 'Table des matières';
    font-weight: bold;
    padding-left: 0.7em;
    font-size: 1.2em;
    color: DeepPink;
    font-style: italic;
    display: none;
}

div.side h1.title {
  padding-left: 0.4em;
}

span.note {
  display: none;
}
